<div class="basic-page">
  <h1>Curriculum</h1>
  <div class="row">
    <div class="col-lg-6">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/L7Usky8qPD4" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="basic-page__block">
    <h2>Reading Materials and Videos</h2>
    <div>At the beginning of each week, we will provide the material to review before the next class. The material will typically consist of 1-3 articles to read and 1-2 videos.</div>
  </div>
  <div class="basic-page__block">
    <h2>Course description</h2>
    <div>This course aims to introduce students to some of the basic principles of medicine, and to train students to think critically on the normal and abnormal functions of the human body, the processes that lead to pathology, and how to diagnose and manage them. </div>
  </div>
  <div class="basic-page__block">
    <h2>Course objectives</h2>
    <div>After course completion, students should be able to demonstrate basic competency in the following:</div>
    <ol>
      <li>Scientific concepts</li>
      <li>Medical knowledge</li>
      <li>Patient diagnosis (history, physical exam, diagnostic tests, diagnosis, prognosis and outcome)</li>
      <li>Patient management (health maintenance, disease prevention, pharmacotherapy)</li>
      <li>Communication and professionalism</li>
      <li>Practice-based learning and improvement</li>
    </ol>
  </div>
  <div class="basic-page__block">
    <h2>Graded course requirements</h2>
    <ol>
      <li>Participation (50% of total grade), including reviewing materials, discussing among yourselves, discussing your findings in class, and overall responsiveness in class</li>
      <li>Exams (30% of total grade)</li>
      <li>Faculty assessment (20% of total grade)</li>
    </ol>
  </div>
  <div class="basic-page__block">
    <h2>Passing criteria</h2>
    <div>Students need to score at least 70% of total grade in order to pass the course. Those who pass will then receive a certificate of successful completion. Those who score 90% and above will receive an honors certificate. </div>
  </div>
  <div class="basic-page__block">
    <h2>Attendance</h2>
    <div id="part1">Students are expected to attend at least 17 of the sessions live.</div>
  </div>
  <hr/>
  <div class="basic-page__table">
    <h2>Part 1 Course Program (2 months, 20,000 RUR)</h2>
    <div class="row">
      <div class="col-lg-12">
        <h4>Introduction of medical science I (MED 1001)</h4>
      </div>
    </div>
    <%= lecture_info 'Tutorial Lecture – October 21, 2017', 'Introduction to the course, lecturers, students. General principles of foundational science' %>
    <%= lecture_module 'Module 1' %>
    <%= lecture_info 'Lecture 1','Upper limb' %>
    <%= lecture_info 'Lecture 2', 'Lower limb' %>
    <%= lecture_info 'Lecture 3', 'Head and neck' %>
    <%= lecture_module 'Module 2' %>
    <%= lecture_info 'Lecture 4', 'Cardiovascular system' %>
    <%= lecture_info 'Lecture 5', 'Respiratory system' %>
    <%= lecture_info 'Lecture 6', 'Musculoskeletal system' %>
    <%= lecture_info 'Lecture 7', 'Nervous system and special senses' %>
    <div class="basic-page__apply-button">
      <%= apply_now_button(true) %>
    </div>
  </div>
  <hr/>
  <div class="basic-page__table">
    <h2>Full Course Program</h2>
    <div class="row">
      <div class="col-lg-12">
        <h4>Course Introduction and Tutorial</h4>
      </div>
    </div>
    <%= lecture_info 'Tutorial Lecture – September 30, 2017', 'Introduction to the course, lecturers, students. General principles of foundational science' %>
    <%= lecture_module 'Module 1' %>
    <%= lecture_info 'Lecture 1','Upper limb' %>
    <%= lecture_info 'Lecture 2', 'Lower limb' %>
    <%= lecture_info 'Lecture 3', 'Head and neck' %>
    <%= lecture_module 'Module 2' %>
    <%= lecture_info 'Lecture 4', 'Cardiovascular system' %>
    <%= lecture_info 'Lecture 5', 'Respiratory system' %>
    <%= lecture_info 'Lecture 6', 'Musculoskeletal system' %>
    <%= lecture_info 'Lecture 7', 'Nervous system and special senses' %>
    <%= lecture_module 'Module 3' %>
    <%= lecture_info 'Lecture 8', 'Gastrointestinal system' %>
    <%= lecture_info 'Lecture 9', 'Renal and urinary system' %>
    <%= lecture_info 'Lecture 10', 'Skin and subcutaneous tissue' %>
    <%= lecture_info 'Lecture 11', 'Aging and genetics' %>
    <%= lecture_module 'Module 4' %>
    <%= lecture_info 'Lecture 12', 'Blood and lymphoreticular system' %>
    <%= lecture_info 'Lecture 13', 'Immune system' %>
    <%= lecture_info 'Lecture 14', 'Endocrine system' %>
    <%= lecture_info 'Lecture 15', 'Female reproductive system and breast' %>
    <%= lecture_info 'Lecture 16', 'Male reproductive system' %>
    <%= lecture_module 'Module 5' %>
    <%= lecture_info 'Lecture 17', 'Physiology' %>
    <%= lecture_info 'Lecture 18', 'Nutrition' %>
    <%= lecture_info 'Lecture 19', 'Microbiology' %>
    <%= lecture_info 'Lecture 20', 'Pharmacology' %>
    <%= lecture_module 'Module 6' %>
    <%= lecture_info 'Lecture 21', 'Epidemiology and biostatistics' %>
    <%= lecture_info 'Lecture 22', 'Population Health' %>
    <%= lecture_info 'Lecture 23', 'Behavioral sciences' %>
    <%= lecture_info 'Lecture 24', 'Social sciences' %>
    <%= lecture_info 'Lecture 25', 'Review' %>
    <%= lecture_info 'Graduation', 'Graduation ceremony' %>
  </div>
</div>
