<div class="starter-template">
  <h1>GT EDUCATION CENTER</h1>
  <%= render 'deadline' %>
  <div class="home-block-info__button-link">
    <%= link_to 'Apply Now', apply_path, class: "btn btn-success btn-lg", role: "button" %>
  </div>
</div>
<div class="home-block-info">
  <h2>About Us</h2>
  <div>
    We believe that everyone has unlimited potential. Our mission is to connect creative ideas and professionalism with experienced mentors. Through meaningful experiences with inspiring people, the GT education center will provide a steady supply of new opportunities and knowledge.
  </div>
</div>
<div class="home-block-info">
  <h2>Our Vision</h2>
  <div>
    Our vision is to build the world's friendliest academic community and unite all those who are passionate about creating a better professional and personal life.
  </div>
</div>
<div class="home-block-info">
  <h2>How the GT EDUCATION CENTER works</h2>
  <div>
    We will create to unite thoughtful individuals through a life of new inspiration and connections. Our curriculum focuses on medicine at the beginning, but it will also focus on Arts, Entrepreneurship, Policies, and Social Impact. Each week, GT participants are invited to a wide variety of GT education programs that include lectures and discussions with distinguished speakers.
  </div>
  <div>
    All potential participants are interviewed one by one before joining, and commit to support each other's efforts to the best of their abilities.
  </div>
</div>
<div class="home-block-info">
  <h2>Leadership and Speakers</h2>
  <h3>Leadership</h3>
  <ul>
    <li><b>DR. SANGHYUN LIM</b>, General Director (Ph.D/MBA, Moscow State University)</li>
    <li><b>MR. MICHAEL KLISHEVICH</b>, Technical Director (Specialist’s Degree, Novosibirsk  State University)</li>
    <li><b>MR. WOOJIN HWANG</b>, Financial Director (MD:Master Degree, Boston College)</li>
    <li><b>DR. IRINA VITALIEVNA KIM</b>, Administrative Director (MD:Medical Doctor, Russian National Research Medical University)</li>
    <li><b>DR. WENWU KO</b>, Marketing Director (MD:Medical Doctor, Russian National Research Medical University)</li>
  </ul>
  <h3>Speakers</h3>
  <ul>
    <li><b>DR. MIRRET</b> (Post Doctor Research Fellow, Harvard Medical School)</li>
    <li><b>DR. Dian Zeng</b> (Post Doctor Research Fellow, Harvard Medical School)</li>
  </ul>
</div>
<div class="home-block-info">
  <h2>Curriculum</h2>
  <div>
    We involve aspiring and established participants with ideas and can help them navigate their own professional and private world. GT participants are continually promoting research and innovation to foster deeper understanding and mobilize meaningful action.
    <div class="home-block-info__button-link">
      <%= link_to 'Read Full Curriculum', curriculum_path, class: "btn btn-primary btn-lg", role: "button" %>
    </div>
  </div>
</div>
<div class="home-block-info">
  <h2>Apply</h2>
  <div>
    Welcome to the application for the GT education program. Just send us following information if you want to apply for the program.
  </div>
  <%= render 'deadline' %>
  <div class="home-block-info__button-link">
    <%= link_to 'Apply Now', apply_path, class: "btn btn-success btn-lg", role: "button" %>
  </div>
</div>
