<h1>Step 2: Apply</h1>
<%= render 'static_pages/apply' %>
<br/>
<%= render 'errors' %>
<%= simple_form_for @applic do |f| %>
  <%= f.input :first_name %>
  <%= f.input :second_name %>
  <%= f.input :last_name %>
  <%= f.input :full_name_passport %>
  <%= f.input :preferred_name %>
  <%= f.input :country_citizen %>
  <%= f.input :address_street %>
  <%= f.input :city %>
  <%= f.input :country %>
  <%= f.input :postal_code %>
  <%= f.input :phone %>
  <%= f.input :native_lang %>
  <%= f.input :prof_highest_grade %>
  <%= f.input :prof_university %>
  <%= f.input :prof_grad_year %>
  <%= f.input :prof_actual_position %>
  <%= f.input :prof_current_institution %>
  <%= f.input :prof_specialty %>
  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>
