<% navItemDropdownClassActive = current_controller_action?(['devise/sessions.new', 'devise/registrations.new']) ? "active" : "" %>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/"><%= image_tag 'logo2.png', height: '40' %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <%= page_nav_item t(:nav_home), '/' %>
      <%= page_nav_item t(:nav_curriculum), curriculum_path %>
      <%= page_nav_item t(:nav_events), events_path %>
      <%= page_nav_item t(:nav_gallery), gallery_path %>
      <%= page_nav_item t(:nav_about_us), about_us_path %>
      <li>
        <%= apply_now_button %>
      </li>
    </ul>
    <ul class="navbar-nav justify-content-end">
      <li class="nav-item dropdown <%=navItemDropdownClassActive%>">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%=t :nav_accout %></a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <% if user_signed_in? %>
            <%= link_to 'Log out', destroy_user_session_path, method: 'delete', class: 'dropdown-item' %>
          <% else %>
            <%= page_dropdown_item t(:nav_log_in), new_user_session_path %>
            <%= page_dropdown_item t(:nav_sign_up), new_user_registration_path %>
          <% end %>
        </div>
      </li>
      <!-- <div class="dropdown-divider"></div> -->
      <%#= change_locale_nav_item :ru, Rails.application.config.ru_website_url %>
      <%#= change_locale_nav_item :en, Rails.application.config.en_website_url %>
    </ul>
  </div>
</nav>
